fastapi
uvicorn[standard]
sqlmodel
asyncpg>=0.29.0
pydantic-settings
alembic
sqlalchemy
greenlet
psycopg2-binary
pypdf
groq
PyJWT
requests
python-dotenv
pytest
pytest-asyncio
httpx
pytest-cov
coverage
pytest-mock
pytest-asyncio
python-multipart